In [15]:
import pandas as pd
import numpy as np
from scipy.spatial import KDTree

In [14]:
# Sample dataframe
data = {
    'x': [1, 1.2, 0.8, 1.3, 5, 5.1, 5.2, 4.9, 8, 8.1, 7.9, 0.9, 5.15],
    'y': [1, 1.1, 1.2, 1.4, 5, 5.2, 4.95, 4.85, 8.1, 8.0, 8.2, 1.3, 5.05],
}
df = pd.DataFrame(data)
print(df)

       x     y
0   1.00  1.00
1   1.20  1.10
2   0.80  1.20
3   1.30  1.40
4   5.00  5.00
5   5.10  5.20
6   5.20  4.95
7   4.90  4.85
8   8.00  8.10
9   8.10  8.00
10  7.90  8.20
11  0.90  1.30
12  5.15  5.05

In [16]:
# Using KDTree clustering for grouping points
points = df[['x', 'y']].values
tree = KDTree(points)
groups = tree.query_ball_tree(tree, r=0.5)

# Mapping points to group IDs
group_map = {idx: cluster_id for cluster_id, members in enumerate(groups) for idx in members}
df['group_id'] = [group_map[i] for i in range(len(points))]

# To ensure sequential group IDs i.e. ids-0,1,2,...
unique_groups = {g: idx for idx, g in enumerate(sorted(set(df['group_id'])))}
df['group_id'] = df['group_id'].map(unique_groups)

print(df.sort_values('group_id'))

       x     y  group_id
8   8.00  8.10         0
9   8.10  8.00         0
10  7.90  8.20         0
0   1.00  1.00         1
1   1.20  1.10         1
2   0.80  1.20         1
3   1.30  1.40         1
11  0.90  1.30         1
4   5.00  5.00         2
5   5.10  5.20         2
6   5.20  4.95         2
7   4.90  4.85         2
12  5.15  5.05         2